## 1.

It is not possible to create a neural network to compute XOR via a linear neural network. You would need a neural network of at least two layers in order to compute XOR. You can compute XOR in this way by having, on the first layer, a perceptron that computes AND, as well as one that computers OR. You could then take the results of these values, and feed it into another perceptron with a weight of -1 to AND and 1 to OR. With the XOR perceptron taking a threshold of one, then it would only work if the output from AND was 0 and the output from OR was 1, therefore allowing it to be an XOR, something that only works if the value is OR, but not AND.

## 2.

In [4]:
from keras.datasets import boston_housing
import numpy as np
import keras
import pandas as pd

In [5]:
#load dataset from BostonHousing.csv as per moodle reccommendation
boston_df = pd.read_csv("https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv")

#print dimensions
def print_data_dimensions():
    print ("Boston Housing Dataset Dimensions: \
            \n\tcount: %s \
            \n\tdimensions: %s \
            \n\tshape: %s" % (len(boston_df), boston_df.ndim, boston_df.shape)
          )
print_data_dimensions()
#additional data in case dimensions and count are not enough
boston_df.head()

Boston Housing Dataset Dimensions:
	count: 506
	dimensions: 2
	shape: (506, 14)

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat,medv
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [7]:
#constructing suitable testing, validation, and training sets for this data
boston_reindex = boston_df.reindex(np.random.permutation(boston_df.index))

training_set=boston_reindex[:302]
testing_set=boston_reindex[302:404]
validation_set=boston_reindex[404:]

In [9]:
#come up with a new synthetic feature
#this feature looks at age rooms, which could be useful as to find if newer houses are on average larger than older ones
boston_df['age to size'] = boston_df['age'] / boston_df['rm']